<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Include>[Zuhid.Identity]*</Include>
					<Exclude>[Zuhid.Identity]*IdentityContext,[Zuhid.Identity]*Migrations.*,[Zuhid.Identity]*Entities.*,[Zuhid.Identity]*Program</Exclude>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
